.container {
  margin: 0 auto;
  background-color: #27292d;
  border-radius: 8px;
  padding: 40px 24px;
  border: 2px solid #6b6c70;
}

.logo {
  margin-bottom: 50px;
}

.title {
  font-size: 14px;
  line-height: 17px;
  color: #6b6c70;
  text-align: center;
  margin-bottom: 8px;
}

.description {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 45px;
}

.input {
  width: 100%;
  height: 43px;
  border: 1.5px solid #35373b;
  background-color: #27292d;
  border-radius: 4px;
  padding: 0px 12px;
  color: #ffffff;
}

.label {
  color: #c5c7ca;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: 16px;
}

.registertext {
  font-size: 14px;
  line-height: 16px;
  color: #7f8084;
  margin-top: 12px;
}

.forgetlabel {
  font-size: 12px;
  line-height: 14px;
  color: #c5c7ca;
  margin-bottom: 10px;
}

.password-input {
  position: relative;
}

.passwordicon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.signuptext {
  color: #c5c7ca;
  cursor: pointer;
}

.modalcontainer {
  padding: 0px;
  border: 0px;
}

.error {
  font-size: 12px;
  line-height: 14px;
  color: #fd5c63;
}
