.title {
  font-size: 18px;
  line-height: 22px;
  color: #c5c7ca;
  margin-bottom: 16px;
}

.btn {
  width: 110px;
}

.input {
  height: 78px;
  padding: 15px;
  background: #191920;
  border-radius: 8px;
  margin-bottom: 16px;
}

.textarea {
  height: 100%;
  background: #191920;
  border: 0px;
  resize: none;
  width: 85%;
  color: #7f8084;
  overflow: auto;
  outline: none;
  font-size: 16px;
  line-height: 16px;
}

.textarea::placeholder {
  vertical-align: middle;
}

.comment-image {
  display: inline-block;
  background-color: #27292d;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
