.btn {
  background-color: #4a96ff;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 0px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #1778ff;
}
